.navbar-large-white + .title-indication{
  margin-top: 100px;
}
.title-indication{
  p{
    font-size: 16px;
    color: #BBAB91;
    line-height: 30px;
  }

  .indication-text{
    padding-top: 60px;
    color: $indication-text-color;

    i{
      margin-right: 8px;
    }
  }
}
.sickness-data{
  margin-top: 30px;
  margin-bottom: 130px;
  padding-top: 120px;
  padding-bottom: 50px;
  min-height: 674px;
  background: #252525 url("../images/ball-bg.jpg") no-repeat center bottom;

  .data{
    .h3{
      padding-bottom: 20px;

      strong{
        font-size: 28px;
      }

      span{
        font-size: 18px;
      }
    }
  }
}
.team-introduce{
  @include padding-t-b(100px,140px);

  .founder-wrap{
    &:nth-of-type(1) .founder{
      background-image: url("../images/team/team-founder1.jpg");
    }
    &:nth-of-type(2) .founder{
      background-image: url("../images/team/team-founder2.jpg");
    }
    &:nth-of-type(3) .founder{
      background-image: url("../images/team/team-founder2.jpg");
    }
    @include max-media(1200px){
      margin-bottom: 30px;
    }
    @include max-media(768px){
      .synopsis{
        display: none;
      }
      .particular{
        position: static;
        min-height: 340px;
        opacity: 1;
      }
    }
  }
  .founder{
    position: relative;
    min-height: 340px;
    background-color: #F6F6F6;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    @include max-media(998px){
      background-size: contain;
    }
    @include xs-media{
      background-size: cover;
    }

    &:hover{
      .synopsis{
        display: none;
      }
      .particular{
        opacity: 1;
      }
    }
  }

  .synopsis,
  .particular{
    padding: 40px 35px;
  }

  .synopsis{
    h4:first-child{
      padding-bottom: $synopsis-padding-b;
    }

    @include min-media(998px){
      h4{
        color: #fff;
      }
    }

  }
  .particular{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: all .8s ease;
    background-color: rgba(0,0,0,.5);
    color: $particular-color;

    h4{
      &:first-of-type{
        padding-bottom: $synopsis-padding-b;
      }
      &:last-of-type{
        padding-bottom: 30px;
      }
      color: $particular-color;
    }
  }

  .team-list{
    padding: 20px 15px 0 15px;
    clear: both;
    >img{
      margin-left: 7px;
      margin-right: 7px;
    }
  }
}
.partner{
  @include padding-t-b(100px,100px);
  color: $gary;
  background-color: #252525;

  .h2{
    padding-bottom: 70px;
  }

  .symbol{
    padding-bottom: 70px;
    i{
      width: 55px;
      height: 46px;
      background-position: 0 -119px;
    }
  }

  .partner-text{
    width: 90%;
    margin: 0 auto;
    p{
      line-height: 30px;
    }
    .partner-logo{
      @include padding-t-b(60px,100px);
    }
  }

  .rslides1_tabs{
    text-align: center;
    overflow: hidden;
    li{
      display: inline-block;
      a{
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        text-indent: -999999px;
        float: left;
        margin: 0 12px;
        background-color: #676767;
      }
    }
    .rslides_here{
      a{
        background-color: $dark-red;
      }
    }
  }
}