$dark-gary: #353535;        //深灰
$light-gary: #585858;       //浅灰
$gary: #e8e8e8;             //灰
$dark-red: rgba(193, 39, 45, 0.85);         //深红
$light-red: #cc3c3a;        //浅红
$white: #fff;
$card1-padding: 7.5px;      //首页卡片1padding
$card2-padding: 30px;       //首页卡片2padding
$col-lg-margin-normal: 0;
$col-xs-bottom: 30px;



